
<%-include("layout/header.ejs")%>

<body>
 
    <main>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, qui culpa! Ut, consequatur architecto odio assumenda autem, saepe, vel blanditiis provident laudantium temporibus laboriosam veniam eius sapiente culpa exercitationem inventore?
        </p>
           
            <img class="myimg" src="/image/naturealone.jpeg">



        
    </main>

</body>
   
 <%-include("layout/footer.ejs")%>

 