

<%-include("layout/header.ejs")%>
    <body>
     
        <main>
            
             <h1> Hello I am individul</h1>
             <img src="/image/naturealone.jpeg" height="auto" width="1000">
        </main>

    </body>

<%-include("layout/footer.ejs")%>

