<footer class="flexcenter">
    <div>
       <h3>Your Health</h3>
       <p>Vasagatan-33</p>
       <p>Phone:083890000</p>
       <p>yourhelath@gmail.com</p>
       
    </div>

    <div>
        <h3>Follow us on</h3><br>
        <img src="/image/twitter.png" width="40" height="40">
        <img src="/image/facebook.png" width="40" height="40">
        <img src="/image/instagram.png" width="40" height="40">
        
    </div>

    <div>
        <h3> More Your Health</h3>
        <p>Open time</p>
        <p>Job with us</p>
        <p>Our history</p>
        
    </div>
</footer>




</body>
</html>